/*body {*/
/*  cursor: url("cursor.png"), auto;*/
/*}*/

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  pointer-events: none; /* Ensure cursor does not interfere with click events */
  z-index: 9999; /* Ensure it appears above other elements */
  background-image: url("cursor.png"); /* Replace with your cursor image */
  background-size: cover; /* Ensure the cursor image covers the div */
  transform: translate(-50%, -50%); /* Center the cursor */
  transition: transform 0.15s ease; /* Smooth transition for movement */
}
